<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--	<logger name="be.glever.ant.usb.AntUsbReader" level="info"/>-->
    <!--	<logger name="be.glever.antplus.hrm.HRMChannel" level="info"/>-->
    <!--	<logger name="be.glever.ant.message.AntMessageRegistry" level="debug"/>-->
    <logger name="be.glever.anttest.stats" level="error"/>
    <logger name="be.glever.anttest.HrmTest_Main" level="debug"/>
    <logger name="be.glever.antplus.hrm.datapage.background.HrmDataPage1CumulativeOperatingTime" level="debug"/>
    <logger name="be.glever.ant.util.ByteUtils" level="debug"/>

    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
